<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Shop Now</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <script>
        function gotomainwebsite() {
            window.location.href='/';
        }
         function gotoshopnow() {
            window.location.href='openuserdashboard';
        }

        function msg() {
            var ans=confirm('cart is empty. Want to shop now?');
            if (ans==true){
                window.location.href='openuserdashboard';
            }
        }
    </script>
</head>
<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <style>
body {
    font-family: 'Sofia';font-size: 22px;
}
</style>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <form class="form-inline" action="#">
     {% if request.session.page != 'userdashboard' %}
           <input type="button" value="Shop Now" onclick="gotoshopnow()" style="background-color: white" class="btn btn-default">Shop Now</input>&nbsp;
      {% endif  %}


  </form>
{%  if request.session.cartsize == null %}
     <a  onclick="msg()"  style="background-color: white">
          <img src="{% static 'media/shopping_cart_full.png' %}" width="40" height="30">
        0</a>
    {% endif %}
{%  if request.session.cartsize != null %}
     <a  href="viewcart"  style="background-color: white">
          <img src="{% static 'media/shopping_cart_full.png' %}" width="40" height="30">
        {{ request.session.cartsize }}</a>
    {% endif %}
<a href="vieworders" class="btn btn-warning">View Order History</a>

</nav>
<br>

<div class="container">
{#  <h3>Navbar Forms</h3>#}
{#  <p>Use the .form-inline class to align form elements side by side inside the navbar.</p>#}

</div>

</body>
</html>
